#Ignore List for Microchip's MPLAB X IDE
#It's a form of NetBeans with vendor specific changes
#Taken from zeha on GIST https://gist.github.com/zeha/5999375
#Updated by Cristian Cristea (https://github.com/cristiancristea00)

*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
*.mk
*.map
*.properties
*.production
*.debug
html/
nbproject/private/
nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
funclist
nbproject/Makefile-*
disassembly/
.generated_files/
.P2/P2B.X/generated_files/
*.ipch
*.db
Proyecto/ProyectoPC/.vs/ProyectoPC/v16/.suo
Proyecto/ProyectoPC/.vs/ProyectoPC/v17/.suo
*.exe
Proyecto/ProyectoPC/Debug/ProyectoPC.pdb
Proyecto/ProyectoPC/ProyectoPC/Debug/ProyectoPC.exe.recipe
Proyecto/ProyectoPC/ProyectoPC/Debug/ProyectoPC.ilk
Proyecto/ProyectoPC/ProyectoPC/Debug/ProyectoPC.log
Proyecto/ProyectoPC/ProyectoPC/Debug/ProyectoPC.tlog/CL.command.1.tlog
Proyecto/ProyectoPC/ProyectoPC/Debug/ProyectoPC.tlog/CL.read.1.tlog
Proyecto/ProyectoPC/ProyectoPC/Debug/ProyectoPC.tlog/CL.write.1.tlog
Proyecto/ProyectoPC/ProyectoPC/Debug/ProyectoPC.tlog/link.command.1.tlog
Proyecto/ProyectoPC/ProyectoPC/Debug/ProyectoPC.tlog/link.read.1.tlog
Proyecto/ProyectoPC/ProyectoPC/Debug/ProyectoPC.tlog/link.write.1.tlog
Proyecto/ProyectoPC/ProyectoPC/Debug/ProyectoPC.tlog/ProyectoPC.lastbuildstate
Proyecto/ProyectoPC/ProyectoPC/Debug/vc142-FBC-WHITEBOOK.idb
Proyecto/ProyectoPC/ProyectoPC/Debug/vc142-FBC-WHITEBOOK.pdb
Proyecto/ProyectoPC/ProyectoPC/Debug/vc142.idb
Proyecto/ProyectoPC/ProyectoPC/Debug/vc142.pdb
Proyecto/ProyectoPC/ProyectoPC/Debug/vcpkg.applocal.log
proyecto_final.X/build/default/production/adc.o
proyecto_final.X/build/default/production/config.o
proyecto_final.X/build/default/production/idle.o
proyecto_final.X/build/default/production/interpolar_sensor.o
proyecto_final.X/build/default/production/MAIN.o
proyecto_final.X/build/default/production/pwm.o
proyecto_final.X/build/default/production/pwm2.o
proyecto_final.X/build/default/production/uart.o
proyecto_final.X/dist/default/production/proyecto_final.X.production.elf
proyecto_final.X/dist/default/production/proyecto_final.X.production.map
proyecto_final.X/nbproject/configurations.xml
proyecto_final.X/nbproject/Makefile-default.mk
proyecto_final.X/nbproject/Makefile-genesis.properties
proyecto_final.X/nbproject/Makefile-impl.mk
proyecto_final.X/nbproject/Makefile-local-default.mk
proyecto_final.X/nbproject/Makefile-variables.mk
proyecto_final.X/nbproject/Package-default.bash
proyecto_final.X/nbproject/private/private.xml
proyecto_final.X/build/default/production/adc.o
proyecto_final.X/build/default/production/config.o
proyecto_final.X/build/default/production/idle.o
proyecto_final.X/build/default/production/interpolar_sensor.o
proyecto_final.X/build/default/production/MAIN.o
proyecto_final.X/build/default/production/pwm.o
proyecto_final.X/build/default/production/pwm2.o
proyecto_final.X/build/default/production/uart.o
proyecto_final.X/dist/default/production/proyecto_final.X.production.elf
proyecto_final.X/dist/default/production/proyecto_final.X.production.map
proyecto_final.X/nbproject/configurations.xml
proyecto_final.X/nbproject/Makefile-default.mk
proyecto_final.X/nbproject/Makefile-genesis.properties
proyecto_final.X/nbproject/Makefile-impl.mk
proyecto_final.X/nbproject/Makefile-local-default.mk
proyecto_final.X/nbproject/Makefile-variables.mk
proyecto_final.X/nbproject/Package-default.bash
proyecto_final.X/nbproject/private/private.xml
*.o
Proyecto/ProyectoPC/ProyectoPC/x64/Debug/ProyectoPC.exe.recipe
Proyecto/ProyectoPC/ProyectoPC/x64/Debug/ProyectoPC.ilk
Proyecto/ProyectoPC/ProyectoPC/x64/Debug/ProyectoPC.log
Proyecto/ProyectoPC/ProyectoPC/x64/Debug/ProyectoPC.tlog/CL.command.1.tlog
Proyecto/ProyectoPC/ProyectoPC/x64/Debug/ProyectoPC.tlog/CL.read.1.tlog
Proyecto/ProyectoPC/ProyectoPC/x64/Debug/ProyectoPC.tlog/CL.write.1.tlog
Proyecto/ProyectoPC/ProyectoPC/x64/Debug/ProyectoPC.tlog/link.command.1.tlog
Proyecto/ProyectoPC/ProyectoPC/x64/Debug/ProyectoPC.tlog/link.read.1.tlog
Proyecto/ProyectoPC/ProyectoPC/x64/Debug/ProyectoPC.tlog/link.write.1.tlog
Proyecto/ProyectoPC/ProyectoPC/x64/Debug/ProyectoPC.tlog/ProyectoPC.lastbuildstate
Proyecto/ProyectoPC/ProyectoPC/x64/Debug/vc142.idb
Proyecto/ProyectoPC/ProyectoPC/x64/Debug/vc142.pdb
Proyecto/ProyectoPC/ProyectoPC/x64/Debug/vcpkg.applocal.log
Proyecto/ProyectoPC/x64/Debug/ProyectoPC.pdb
Proyecto/FreeRTOSDemo.X/ProyectoPC/.vs/VSWorkspaceState.json
Proyecto/FreeRTOSDemo.X/ProyectoPC/.vs/slnx.sqlite
Proyecto/FreeRTOSDemo.X/ProyectoPC/.vs/ProjectSettings.json
Proyecto/FreeRTOSDemo.X/nbproject/project.xml
Proyecto/FreeRTOSDemo.X/nbproject/private/private.xml
Proyecto/FreeRTOSDemo.X/nbproject/private/configurations.xml
Proyecto/FreeRTOSDemo.X/nbproject/Package-default.bash
Proyecto/FreeRTOSDemo.X/nbproject/configurations.xml
Proyecto/FreeRTOSDemo.X/KernelFreeRTOS/portable/MPLAB/PIC24_dsPIC/portmacro.h
Proyecto/FreeRTOSDemo.X/KernelFreeRTOS/portable/MPLAB/PIC24_dsPIC/portasm_dsPIC.S
Proyecto/FreeRTOSDemo.X/KernelFreeRTOS/portable/MPLAB/PIC24_dsPIC/port.c
Proyecto/FreeRTOSDemo.X/KernelFreeRTOS/portable/MemMang/ReadMe.url
Proyecto/FreeRTOSDemo.X/KernelFreeRTOS/portable/MemMang/heap_5.c
Proyecto/FreeRTOSDemo.X/KernelFreeRTOS/portable/MemMang/heap_4.c
Proyecto/FreeRTOSDemo.X/KernelFreeRTOS/portable/MemMang/heap_3.c
Proyecto/FreeRTOSDemo.X/KernelFreeRTOS/portable/MemMang/heap_2.c
Proyecto/FreeRTOSDemo.X/KernelFreeRTOS/portable/MemMang/heap_1.c
